<!-- TODO Show the service and user for reference -->

<form (ngSubmit)="f.form.valid && requestService()" #f="ngForm" novalidate>
  <div class="row">
    <div class="input-control">
      <owl-date-time [(ngModel)]="startDate" name="startDateId"></owl-date-time>
    </div>
    <div class="input-control">
      <owl-date-time [(ngModel)]="endDate" name="endDateId"></owl-date-time>
    </div>
  </div>

  <div class="row">
    <select class="selectpicker form-control" name="selectedPet" title="Choose a pet" [(ngModel)]="petId">
      <!-- TODO populate with user's pets -->
      <option *ngFor="let pet of pets" [ngValue]="pet.id">{{ pet.name}}</option>
    </select>
  </div>

  <div class="row">
  <textarea name="message" placeholder="Additional information for the service provider" cols="40" rows="5" [(ngModel)]="message"></textarea>
  </div>

  <div class="row">
  <button class="btn" type="submit">Send Request</button>
  </div>
</form>

<!-- TODO Move this div to an appropriate location and format -->
<div>
  <h5>Calculate Costs </h5>
  <p>Cost: {{ serviceCostString }}</p>
  <button (click)="updateServicePrice()">Calculate</button>
</div>


