

<!-- reuse this code to perform

<form [formGroup]="form">
  <div>
    <input formControlName="address" placeholder="address or zip">
  </div>
  <button (click)="getRadServices()">Submit</button>

</form>





<div *ngFor="let service of services">
  <div class="container" style="margin: 8% 7% 0 7%;border: 3px solid;">
    <h4>Service name: {{service.name}}</h4>
    <h4>Lattitude: {{service.lat}}  Longitude: {{service.lng}}</h4>
  </div>
</div>


-->
<h1>{{title}}</h1>
<p>{{addy}}</p>

<br>
<br>


<div *ngFor="let service of services">
  <div class="container" style="margin: 8% 7% 0 7%;border: 3px solid; background-color: #f2f2d9;">
    <div class="row">
      <div class="col-md-4">
        <h4 class="text-center">{{service.user_id}}</h4>
        <div class="row" style="margin: 2px 0 2px 0; padding:0 5% 12% 5%;">
          <img src={{service.profile_image_url}} style="width:50%" class="center-block">
        </div>
        <p class="text-center">{{service.rating}}</p>
      </div>
      <!-- Middle - About/rate -->
      <div class="col-md-4">
        <div class="row text-center" style="margin: 10% 0% 0 0%;border:1px solid;padding: 2% 0 45%;">
          <p class="center-block"> {{service.about}}</p>
        </div>
        <div class="row">
          <div class="col-md-4 col-md-offset-2">{{service.name}}</div>
          <div class="row" style="margin: 2px 0 2px 0; padding:0 5% 12% 5%;">
            <img src={{service.picture.url}} style="width:100%" class="center-block">
          </div>
          <div class="col-md-4">{{service.rate}}  {{service.rate_type}}</div>
        </div>
      </div>
      <!-- Right - Review Box -->
      <div class="col-md-4">
        <div class="row" style="margin: 10% 0% 0% 0%;border:1px solid;padding: 3%;">
          <h4 class="text-left media-heading">Reviews</h4>
          <div class="media" style="border:1px solid;">
            <div class="media-left">
              <img src="../../assets/nav-logo.PNG" alt="logo placeholder" class="media-object" style="width:60px">
            </div>
            <div class="media-body">
              <p>Excellent Service!</p>
            </div>
          </div>
          <hr>
          <div class="media" style="border:1px solid;">
            <div class="media-left">
              <img src="../../assets/nav-logo.PNG" alt="logo placeholder" class="media-object" style="width:60px">
            </div>
            <div class="media-body">
              <p>Very clean and spacious</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
