
<div class="container" style="margin: 10% 7% 0 7%;">
  <div class="row">
    <div class="col-md-4" style="margin: 2% 2% 0 2%;">
      <h4 class="text-center">{{user.first_name}} {{user.last_name}}</h4>
      <div class="row" style="margin: 2px 0 5% 0; padding:0 5% 12% 5%;">
        <img src="{{user.picture.url}}" src-fallback="{{ defaultImage.userImage }}" style="width:50%" class="center-block" />
      </div>
    </div>

    <!-- Right - Notificaton Box -->
    <div class="col-md-6">
      <div class="row" style="margin: 1% 0% 0% 0%;padding: 3%;">
        <h4 class="text-left media-heading">Notifications </h4>
        <div class="media" style="margin: 3% 0% 0% 0%;border:1px solid;padding: 2% 2% 25%;">
          <div class="notification-item" *ngFor="let notification of providerNotifications" [routerLink]="['/servicereview', notification.id]">
            <p>New Service Request</p>
            <a [routerLink]="['/servicereview', notification.id]">View</a>
          </div>

          <div class="notification-item" *ngFor="let notification of requesterNotifications">
            <p><b>Your Request has been {{ notification.request_state }}</b></p>
            <a [routerLink="['/stayovers']">View</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Removing these for now since they don't do anything and relate to features not yet implemented
<div class="container" style="margin: 4% 7% 0 7%;">
  <div class="row">
    <div class="col-md-4" style="margin: 2% 2% 0 2%;">
      <div class="panel panel-default">
        <div class="panel-heading text-center"><h4>Verified info</h4></div>
        <div class="panel-body">
          <div class="col-md-8">Pet Sitting</div>
          <div class="col-md-2 col-md-offset-1">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          </div>
        </div>
        <div class="panel-body">
          <div class="col-md-8">Phone Number</div>
          <div class="col-md-2 col-md-offset-1">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
          </div>
        </div>
        <div class="panel-body">
          <div class="col-md-8">e-mail</div>
          <div class="col-md-2 col-md-offset-1">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="row" style="margin: 1% 0% 0% 0%;padding: 3%;">
        <h4 class="text-left media-heading">Messages </h4>
        <div class="media" style="margin: 3% 0% 0% 0%;border:1px solid;padding: 2% 2% 25%;">
          <p>content</p>
        </div>
      </div>
    </div>
  </div>
</div>
-->




