
<div class="container" style="margin: 10% 7% 0 7%;border: 3px solid; background-color: #f2f2d9;">
  <div *ngFor="let service of user.services" class="row">

    <div class="col-md-4" style="border:1px solid;">
      <div class="media-left">
        <p class="text-center">{{service.name}}</p>
        <div class="col-md-4 col-md-offset-2">{{service.rate}}</div>
        <div class="col-md-4">{{service.rate_type}}</div>

      </div>
    </div>
    <div class="col-md-4 col-md-offset-4">
      <p>{{service.about}}</p>
    </div>
  </div>
</div>



