
<div *ngFor="let user of users" [routerLink]="['/profile', user.id]">
<div class="container">
<div class="row">

  <!-- Left - Image -->
  <div class="col-md-4">
    <h4 class="text-center">{{user.first_name}} {{user.last_name}}</h4>
    <img src={{user.picture.url}} src-fallback="{{ defaultImage.userImage }}" class="center-block">
  </div>

  <!-- Middle - About -->
  <div class="col-md-4">
    <p class="center-block"> {{user.about_me}}</p>
  </div>

  <!-- Right - Image/Rate -->
  <div class="col-md-4">
    <div *ngFor="let service of user.services" class="row">
      <div class="container">
        <h4>{{service.name}}</h4>
        <img src={{service.picture.url}} src-fallback="{{ defaultImage.serviceImage }}" class="center-block">
        <p>$ {{service.rate}}  {{service.rate_type}}</p>
      </div>
    </div>
  </div>

</div>
</div>
</div>




