<div class="container">
  <form class="form-signin" style="margin-top: 100px" (ngSubmit)="f.form.valid && updateService()" #f="ngForm" novalidate>

    <div class="form-group">
      <input class="form-control" type="text" placeholder="Name" name="serviceName" [(ngModel)]="updatedName">
    </div>

    <div class="form-group">
      <input class="form-control" type="text" placeholder="About" name="serviceAbout" [(ngModel)]="updatedAbout">
    </div>

    <div class="form-group">
      <input class="form-control" type="text" placeholder="Address" name="serviceAddress" [(ngModel)]="updatedAddress">
    </div>

    <div class="form-group">
      <input class="form-control" type="number" placeholder="Rate" name="serviceRate" [(ngModel)]="updatedRate">
    </div>

    <div class="form-group">
      <input class="form-control" type="text" placeholder="Rate Type" name="serviceRateType" [(ngModel)]="updatedRateType">
    </div>

    <div class="form-group">
      <input class="form-control" type="file" accept="image/*" (change)="attachImage($event)">
    </div>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Update Service</button>
  </form>
</div>
