<!-- navbar -->
<div *ngIf="displayNav">
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded" style="background-color: #DAE32E;">
    <a class="navbar-brand" [routerLink]="['/home']">
      <img src="../assets/PO_logo.png" alt="PetOver" style="height: 150px; padding-right: 50px;">
    </a>

    <form class="form-inline my-2 my-lg-0" [formGroup]="searchForm">
      <input class="form-control mr-sm-2" type="text" formControlName="address" placeholder="Find a Service" id="addressId">
      <button class="btn btn-outline-success my-2 my-sm-0" (click)="searchRoute()">Search</button>
    </form>

    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/about']">About</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/caretakerinfo']">Become a Caretaker</a>
      </li>

      <li class="nav-item" *ngIf="!loginService.loggedIn">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>

      <li class="nav-item" *ngIf="loginService.loggedIn">
        <a class="nav-link" [routerLink]="['/dashboard']">Dashboard</a>
      </li>

      <li class="nav-item" *ngIf="loginService.loggedIn">
        <a class="nav-link" (click)="loginService.logoutUser()">Logout</a>
      </li>
    </ul>


  </nav>
</div>


<!-- nav >
<div *ngIf="displayNav">
  <nav class="navbar navbar-light justify-content-between" style="background-color: #DAE32E;">
    <div class="row">
      <div class="col-md-4">
      <a class="navbar-brand" [routerLink]="['/home']">
      <img class="navbar-header pull-left" src="../assets/PO_logo.png" alt="logo placeholder">
      </a>
      </div>
      <div class="col-md-8">
        <div class="row">
        <p><b>Find a place for your pet to stay</b></p>
      <form class="form-inline" [formGroup]="searchForm">

        <ul class="navbar-form navbar-left form-group has-feedback has-feedback-left">
          <li class="input-group">
            <input type="text" class="form-control mr-sm-2" formControlName="address" placeholder="Where" id="addressId"/>
            <i class="form-control-feedback glyphicon glyphicon-globe"></i>
          </li>

          <!-- Commented out due to present lack of functionality ----------------

          <li class="input-group">
            <input type="date" class="form-control" id="date" placeholder="When" />
            <i class="form-control-feedback glyphicon glyphicon-calendar"></i>
          </li>
          <select class="selectpicker form-control" title="Choose a pet" >
            <option>Dog</option>
            <option>Cat</option>
            <option>Lizard</option>
          </select>
         ------------------------------------------------------------------------  -->
<!--
          <button class="btn btn-outline-success my-2 my-sm-0" (click)="searchRoute()">
            Search!
          </button>
        </ul>
      </form>
        </div>
        <div class="row">
      <ul class="list-inline">
        <li><a [routerLink]="['/about']">About</a></li>
        <li><a [routerLink]="['/caretakerinfo']">Become a Caretaker</a></li>
        <li *ngIf="!loginService.loggedIn"><a routerLink="/login">Login</a></li>
        <li *ngIf="loginService.loggedIn"><a [routerLink]="['/dashboard']">Dashboard</a></li>
        <li *ngIf="loginService.loggedIn"><a (click)="loginService.logoutUser()">Logout</a></li>
      </ul>
        </div>
      </div>
    </div>
  </nav>
</div>


<!-- dashboard -->
<div *ngIf="displayDashboard">
<div class="container-fluid navbar-default"style="border: 3px solid">
  <ul class="nav navbar-nav">
    <li><a [routerLink]="['/dashboard']" routerLinkActive="active">Dashboard</a></li>
    <li><a [routerLink]="['/profile', loginService.userId]" routerLinkActive="active">View Profile</a></li>
    <li><a [routerLink]="['/messages']" routerLinkActive="active">Inbox</a></li>
    <li><a [routerLink]="['/pets']" routerLinkActive="active">Your Pets</a></li>
    <li><a [routerLink]="['/stayovers']" routerLinkActive="active">Your Stayovers</a></li>
    <li><a [routerLink]="['/services']" routerLinkActive="active">Your Services</a></li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Profile <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a [routerLink]="['/editprofile']">Edit Profile</a></li>
        <li role="separator" class="divider"></li>
        <li><a [routerLink]="['/addpet']">Add Pet</a></li>
        <li role="separator" class="divider"></li>
        <li><a [routerLink]="['/addservice']">Add Service</a></li>
      </ul>
    </li>
  </ul>
</div>
</div>


<!-- content -->
<div>
<router-outlet></router-outlet>
</div>


