
<div class="container">
  <div class="row" style="padding-bottom: 100px">
    <div class="col">
      <h3 class="text-center">{{user?.first_name}} {{user?.last_name}}</h3>
      <div class="row" style="margin: 2px 0 2px 0; padding:0 5% 12% 5%;">
        <img src={{user?.picture?.url}} src-fallback="{{ defaultImage.userImage }}" style="width:100px" class="center-block">
      </div>
    </div>
    <!-- Middle - About/rate -->
    <div class="col">
        <p class="center-block"> {{user?.about_me}}</p>
    </div>
  </div>
  <h4 *ngIf="user?.services.length > 0">Services</h4>
  <hr/>
  <div class="row" style="padding-bottom: 100px">
    <div *ngFor="let service of user?.services" class="row">
      <h5 >{{service?.name}}</h5>
      <div class="col">
        <img src={{service?.picture?.url}} src-fallback="{{ defaultImage.serviceImage }}" style="width:100px" class="center-block">
      </div>
      <div class="col">
        <p class="pull-right">{{ service?.about }}</p>
        <p class="pull-right">$ {{service?.rate}}</p>
        <a [routerLink]="['/servicerequest', service?.id]">Request Service</a>
      </div>
    </div>
  </div>

  <h4 *ngIf="user?.pets.length > 0">Pets</h4>
  <hr/>
  <div class="row" style="padding-bottom: 100px">
    <div *ngFor="let pet of user?.pets" class="row">
      <div class="col">
        <h5>{{ pet?.name }}</h5>
        <img src={{pet?.picture?.url}} src-fallback="{{ defaultImage.petImage }}" style="width:100px" class="center-block">
      </div>
      <div class="col">
      <p>{{pet?.about_me}}</p>
      </div>
      </div>
  </div>

    <!-- Right - Review Box
    <div class="col-md-4">
      <div class="row" style="margin: 10% 0% 0% 0%;border:1px solid;padding: 3%;">
        <h4 class="text-left media-heading">Reviews</h4>
        <div class="media" style="border:1px solid;">
          <div class="media-left">
            <img src="../../assets/nav-logo.PNG" alt="logo placeholder" class="media-object" style="width:60px">
          </div>
          <div class="media-body">
            <p>Excellent Service!</p>
          </div>
        </div>
        <hr>
        <div class="media" style="border:1px solid;">
          <div class="media-left">
            <img src="../../assets/nav-logo.PNG" alt="logo placeholder" class="media-object" style="width:60px">
          </div>
          <div class="media-body">
            <p>Very clean and spacious</p>
          </div>
        </div>
      </div>
    </div -->
</div> <!-- container -->

