<div class="container">
  <form class="form-signin" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
    <input class="input-block-level" type="email" placeholder="email" name="email" [(ngModel)]="email">
    <input class="input-block-level" type="password" placeholder="password" name="password" [(ngModel)]="password">
    <div *ngIf="loginError" class="alert alert-danger">Invalid Login</div>
    <button class="btn btn-large btn-primary pull-right" type="submit">Sign In</button>
    <a [routerLink]="['/register']">Register</a>
  </form>
</div>
