<div>
  <h3>Your Stayovers</h3>
</div>
<!-- TODO Format this view -->

<div *ngFor="let stayover of stayovers">
  <div class="container" style="margin: 8% 7% 0 7%;border: 3px solid; background-color: #f2f2d9;">
    <div class="row">
      <b>{{ stayover.service.name }}</b>
      <p>{{ stayover.service.about }}</p>
      <!-- TODO Add in the location of the service for display -->
      <p>${{ stayover.service.rate }}</p>
      <p>{{ stayover.service.rating }}</p>
    </div>

    <div class="row">
      <div class="col-md-4">
        <b>{{ stayover.pet.name }}</b>
        <img src="{{ stayover.pet.picture.url }}" src-fallback="{{ defaultImage.petImage }}" style="width: 20%">
      </div>

      <div class="col-md-4">
        <b>{{ stayover.provider.first_name }} {{ stayover.provider.last_name }}</b>
        <img src="{{ stayover.provider.picture.url }}" src-fallback="{{ defaultImage.userImage }}" style="width: 20%">
      </div>

      <div class="col-md-4">
        <p>Drop Off: {{ stayover.service_request.start_date }}</p>
        <p>Pick Up: {{ stayover.service_request.end_date }}</p>
        <p>Status: {{ stayover.service_request.request_state }}</p>
      </div>
    </div>
  </div>
</div>
