<h3>About PetOver</h3>
<div class="container-fluid">
  <p>
    PetOver is a marketplace <i>for</i> pet lovers made <i>by</i> pet lovers. Never again do you have to worry about where to find a pet sitter before your next vacation, nor do you have to feel bad for asking your best friend for the hundredth time to watch your little companion while you're away.
  </p>
  <p>
    Have you ever wondered what it would be like to have a pet but aren't ready to make that big step? This is a perfect opportunity to get to know different kinds of animals and feel the connection that so many people have with their pets. You even get to set your own rates!
  </p>
  <p>
    It's not just about pet sitting though; you can even advertise your other pet-related services here! Are you a dog barber? Do you give kitty manicures? Are you a veterinarian with a private clinic? Here you can connect with pet owners in your area and reach out to people who would otherwise miss you.
  </p>
  <p>
    PetOver was born out of necessity; our cats Freja and Loke need love and care while we're away. After having had every friend in our phone book take care of them a few times, it got harder and harder to keep asking for favors. We decided that we would create a social network where all pet lovers could gather around the common goal of taking care of our best friends of the animal kingdom.
  </p>
</div>
